{% extends viewType %} 
{% block content %}
{% if devList %}
Please note that sending learn codes does not work for all type of devices. This list does not filter out devices that does not support learn codes.<p>
Start by setting the switch in programming mode. For example by pressing and holding its button or just pressing (depends on brand). Then press the LEARN link below.<p>
    {% for dev in devList %}
        <h2>{{ dev.htmlText }} <a href="/core/{{ dev.id }}/{{ cmds.LEARN }}/">LEARN</a></h2>
        <a href="/core/{{ dev.id }}/{{ cmds.ON }}/">ON</a><br>
        <a href="/core/{{ dev.id }}/{{ cmds.OFF }}/">OFF</a><br>
	<hr>
    {% endfor %}

{% else %}
    <p>No Devices are available.</p>
{% endif %}
{% endblock %}
