{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% trans 'Automagically @ Raspberry Pi' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Automagically @ Raspberry Pi' %}</h1>
{% endblock %}

{% block nav-global %}&nbsp;&nbsp;&nbsp;<a href="/core/">Main page</a>&nbsp;&nbsp;&nbsp;<a href="/admin/">Administration</a>&nbsp;&nbsp;&nbsp;<a href="/static/home_auto/about.html">About</a>{% endblock %}
