{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<h1>Database backup handling</h1>
Current software revision (git repository): {{ currentRev }}<p>

{% if state == 'POSSIBLE' %}
<h1>ARE YOU SURE YOU WANT TO RESTORE DATABASE TO THIS BACKUP?</h1>
<h2>Backup date: {{ backupDate }}</h2>
<h2>Software revision: {{ rev }}</h2>
{% if rev != currentRev %}
Software revision when taking the backup is not the same as the one currently running. This could make things not work at all after restore. It is recommended to allways run same version when taking backup and when restoring it.
{% endif %}

<h1><a href="/backup/dorestore/{{ backup }}/">YES</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/backup/">NO</a></h1>

{% else %}{% if state == 'IMPOSSIBLE' %}
The selected backup called {{ backup }} doesnt seem to contain all files needed to restore from it. Sorry!<p>
<a href="/backup/">Back to list of backups</a>

{% else %}

Your database have now been restored from backup.<p>
<h1>PLEASE REBOOT the system now!</h1>

The following is a dump of the output from the update process:<br>
<pre>
{{ restoreOutput }}
</pre>

{% endif %}{% endif %}
{% endblock %}
{% block sidebar %}
{% endblock %}
