{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<h1>Database backup handling</h1>
Current software revision (git repository): {{ currentRev }}<p>

<h1><a href="/backup/do/">Make backup</a><h1><p>

{% if items %}
<h1>Available backups</h1>
<table>
<tr>
<th>Date taken</th><th>Taken at source revision*</th><th></th>
</tr>
    {% for item in items %}
<tr>
<td>{{ item.date }}</td>
{% if item.rev == currentRev %}
<td><b>{{ item.rev }}</b></td>
{% else %}
<td>{{ item.rev }}</td>
{% endif %}
<td><a href="/static/home_auto/backup/{{item.download }}">Download</a></td>
</tr>
    {% endfor %}
</table>
* Revisions that are bold match the current revision of software
{% else %}
<h1>No available backups</h1>
{% endif %}

{% endblock %}
{% block sidebar %}
{% endblock %}
