{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
{% if signal_str != '' %}
<h2>Signal sent: {{ signal_str }}</h2>
{% endif %}
<form action="/signals/index/" method="post">{% csrf_token %}
{{ form.as_p }}<p>
{% if signaldebug %}
Signal debug is turned on, remember to turn it off when done here.<p>
{% else %}
Signal debug is turned off, you need to turn it on before any new signals will appear here.<p>
{% endif %}

<input type="submit" value="Send" name="Send"/>
<input type="submit" value="Refresh" name="Refresh"/>
<input type="submit" value="Toogle signal debug" name="SignalDebugToggle"/>
</form>

<h2>Signal trace</h2>
<table>
<tr>
<td><b>Time sent</b></td><td><b>Origin</b></td><td><b>Signal<b></td><td><b>Create from signal</b></td>
</tr>
{% for line in lines %}
<tr>
<td>{{ line.0 }}</td><td>{{ line.1 }}</td><td><a href="/signals/create/{{ line.2 }}">{{ line.2 }}</td>
{% if line.3 != '' %}
<td><a href="{{ line.4 }}">{{ line.3 }}</td>
{% else %}
<td></td>
{% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
{% block sidebar %}
{% endblock %}
